@media all and (max-width:500px){
    #side{
      display:none;
    }
    ::-webkit-scrollbar{
       display:none;
    }
    #navbar{
        width:100vw;
        height:8vw;
        display:flex;
        justify-content: space-evenly;
        background-color: rgb(20, 20, 135);
        position: fixed;
        z-index: 5;
    }

    .elements{
        font-size:4vw;
        text-decoration: none;
        color:aqua;
        margin-top: 2vw;
    }

    .ttl{
        overflow: hidden;
    }
    #home{
        position: relative;
        left:0em;
        width:100vw;
        border-top: none;
        height:95vw;
    }
    #icons{
      visibility:hidden;
    }
    #textdiv{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        width:95vw;
        position: relative;
        top:30vw;
        left:1em;
        font-size: 2.5vw;
    }
    #about{
        position: relative;
        left:0em;
        width:100vw;
        height:300vw;
    }
    #a{
        position: absolute;
        left:33.8vw;
        font-size: 8vw;
    }
    #dp{
       margin-top: 25vw;
       margin-left: 31vw;
       height:40vw;
       width:40vw;
    }
    #dpanch{
        height:40vw;
        width:40vw;
    }
    .slogan{
        position: absolute;
        left:7vw;
        top:71.3vw;
        font-size: 8vw;
        color:rgb(137, 101, 54);
    }
    #dialogue{
        position: absolute;
        left:37vw;
        top:72vw;
        color: rgb(63, 63, 197);
    }
    #paragraph{
        display:flex;
        flex-wrap: wrap;
/*         height:160vw; */
        width:84vw;
        font-size: 5vw;
        position: absolute;
        left:1.9vw;
        margin-top: 30vw;
        text-align: center;
    }
    #education{
        position: relative;
        left:0em;
        width:100vw;
        height: 290vw;
    }
    #ed{
        position: absolute;
        left:27vw;
        font-size: 8vw;
    }
    #eduparah{
        display:flex;
        flex-wrap: wrap;
        position:absolute;
        left:4vw;
        margin-top:25vw;
        padding-left: 5vw;
        font-size: 5.5vw;
    }
    #sgpa{
        margin-top: 10vw;
    }
    #ldevice{
        display:none;
    }
    #sdevice{
        display: contents;
        position:absolute;
        font-size: 5vw;
    }
    .sdata{
        position:relative;
        left:7.5vw;
        top:7vw;
        padding: 0.5vw;
        width:20vw;
        height: 10vw;
        text-align: center;
        border: 0.5vw solid black;
        background-color: bisque;
    }
    .shead{
        position:relative;
        left:7.5vw;
        top:7vw;
        padding: 0.5vw;
        width:10vw;
        text-align: center;
        border: 0.5vw solid black;
        background-color: rgba(131, 210, 255, 0.559);
    }
    #experience{
        position: relative;
        left:0em;
        width:100vw;
        height:430vw;
    }
    #xp{
        position: absolute;
        left:30vw;
        font-size: 8.5vw;
    }
    #prodiv{
        display:flex;
        flex-wrap: wrap;
        width:80vw;
        position: relative;
        left:5.7vw;
        margin-top: 25vw;
        font-size: 6vw;
        background-color:rgba(94, 255, 0, 0.177);
        height:110vw;
        
    }
    #project{
        font-size: 7.8vw;
    }
    #coursediv{
        display:flex;
        flex-wrap: wrap;
        width:80vw;
        height:70vw;
        position: relative;
        left:5.7vw;
        margin-top: 5vw;
        font-size: 6vw;
        background-color: rgba(255, 145, 145, 0.177);

    }
    #Course{
        font-size:7.8vw ;
    }
    #courseflex{
        flex-wrap: wrap;
        width:83vw;
        height:55vw;
        background-color: rgba(143, 249, 247, 0.349);
    }
    .certificate{
        height:20vw;
        width:35vw;
    }
    .certificate:hover{
        border:0.3vw solid rgb(0, 208, 255);
        box-shadow: 0.5vw 0.3vw 0.5vw 1vw black;
    }
    #cer1{
        margin-top: 5vw;
    }
    #cer2{
        margin-top: 5vw;
    }
    #cer3{
        margin-bottom: 5vw;
    }
    #labdiv{
        display:flex;
        flex-wrap: wrap;
        width:80vw;
        height:150vw;
        position: relative;
        left:5.7vw;
        margin-top: 5vw;
        font-size: 6vw;
        background-color: rgba(0, 234, 255, 0.142);

    }
    #lab{
        font-size:7.8vw ;
    }
    #labflex{
        flex-wrap: wrap;
        width:83vw;
        height:140vw;
        background-color: rgba(217, 255, 0, 0.061);
    }
    .labelem{
        font-size: 7vw;
    }
    .box{
        font-size: 6vw;
        width:70vw;
        margin:1vw;
        background-color: rgba(179, 253, 174, 0.602);
    }
    #fix{
        display:inline;
    }
    #skills{
        position: relative;
        left:0em;
        width:100vw;
        height: 125vw;
    }
    #sk{
        position: absolute;
        left:40vw;
        font-size: 8.5vw;
    }
    .logos{
        display: none;
    }
    #skilldiv{
        position: absolute;
        left:9.5vw;
        font-size: 5vw;
        margin-top: 25vw;
    }
    #contact{
        position: relative;
        left:0em;
        width:100vw;
        height:125vw;
    }
    #connect{
        position: absolute;
        left:28.5vw;
        font-size: 8.5vw;
    }
    #contactn{
        position: absolute;
        left:10.3vw;
        top:25vw;
        font-size: 6vw;
        padding-left: 2vw;
        padding-right: 2vw;
        border: 0.5vw solid black;
    }
    #contacte{
        position: absolute;
        left:5vw;
        top:37vw;
        font-size: 6vw;
        width: 85vw;
        padding-left: 2vw;
        padding-right: 2vw;
        border: 0.5vw solid black;
    }
    #contactm{
        position: absolute;
        left:2.5vw;
        top:50vw;
        font-size: 6vw;
        width: 90vw;
        height: 50vw;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 2vw;
        padding-right: 2vw;
        border: 0.5vw solid black;
    }
    #button{
        position: absolute;
        left:38.5vw;
        top:105vw;
        font-size: 6vw; 
        background-color: bisque;
        border-radius: 1vw;
    }
    #altfooter{
        background-color: rgba(16, 16, 142, 0.939);
        height: 60vw;
        display: contents;
        display: flex;
        flex-direction: column;
        position: relative;
        left:0em;
        width:100vw;
        text-align: center;
        padding-top: 5vw;
        font-size: 5vw;
        color: aliceblue;
    }
    #altfooter p{
        margin-top: 3vw;
    }
    #icons2{
       width:35vw;
       position: relative;
       left:32vw;
       background-color: aliceblue;
       font-size: 7vw;
    }
    #instagram2{
        height:6.3vw;
        width:6.3vw;
        position: relative;
        top:0.5vw;
    }
    .footertxt{
        display:none;
    }
    #ft3{
        display:contents;
        font-size: 4.5vw;
    }
    #footer{
        position: relative;
        top:0vw;
        left:0em;
        width:100vw;
        height: 12vw; 
        text-align: center; 
        padding-top: 2.5vw;
    }
    
}
